.rivals-wrapper {
    display: flex;
    gap: var(--gap-s);
    justify-content: center;
    align-items: center;
  }
  
  .nickname-image-wrapper {
    display: flex;
    gap: var(--gap-хs);
    align-items: center;
    width: 100%;
  }
  
  .nickname-image-wrapper__player {
    justify-content: flex-end;
  }
  
  .nickname-image-wrapper__rival {
    justify-content: flex-start;
  }
  
  .nickname-image-wrapper__text {
    color: var(--color-header-player-nickname-text-active);
  }
  
  .nickname-image-wrapper__avatar {
    height: 50px;
  }
  
  .rivals-wrapper__text-VS {
    color: var(--color-header-VS-text);
    font-size: var(--header-VS-text-size);
  }
  
  .figure-name-rival__position {
    margin-top: var(--gap-s);
    display: flex;
    justify-content: center;
  }
  
  .figure-name-rival-border {
    color: var(--text-color);
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px dashed #fff;
    text-align: center;
  }
  
  .figure-name-rival {
    position: absolute;
    display: block;
    top: 50px;
    left: 100px;
  }
  
  .figure-name-rival__text {
    position: absolute;
    margin: 0;
    color: var(--color-figure-name-enemy-won);
    font-size: var(--figure-name-text-size);
    line-height: var(--figure-name-text-line);
    top: 220px;
    left: 125px ;
  }
  
  .figure-name-player__position {
    margin-top: var(--gap-хs);
    text-align: center;
  }
  
  .figure-name-player__text {
    margin: var(--gap-s) 0 0;
    font-size: var(--text-size-l) ;
    line-height: var(--text-line-m) ;
    color: var(--color-text);
    text-align: center;
  }
  
  .result-game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xxs);
  }
  
  .result-game__position {
    margin-top: var(--gap-s);
  }
  
  .result-game__text {
    color: var(--color-title);
    margin: 0;
    font-size: var(--title-text-size) ;
    line-height: var(--title-text-line) ;
  }
  
  .buttons-page-finish {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
  }
  
  .buttons-page-finish__position {
    margin-top: var(--gap-l) ;
  }
  
  .button {
    box-sizing: border-box;
    border-radius: var(--border-radius-s);
    background-color: transparent;
    font-family: "Inter", "Times New Roman", serif;
    overflow: hidden;
    cursor: pointer;
  }
    
  .button:focus {
    outline: none;
  }
  
  .button_theme_primary {
    width: 420px;
    max-width: 100%;
    border: none;
    padding: var(--gap-s) var(--gap-m);
    background-color: var(--background-button-start);
    color: var(--color-button-start-text);
    font-size: var(--button-start-text-size);
    line-height: var(--button-start-text-line);
    font-weight: 600;
  }
  
  .button_theme_secondary {
    width: 420px;
    max-width: 100%;
    border: 1px solid var(--color-button-cancel-border);
    padding: var(--gap-s) var(--gap-m);
    color: var(--color-button-cancel-text);
    font-size: var(--button-cancel-text-size);
    line-height: var(--button-cancel-text-line);
    font-weight: 600;
  }
  